.site-footer {
  background-color: #fff;
  min-height: 124px;
  padding: 0;
}

.site-footer .block {
  margin: 0;
  padding: 40px 50px 40px 0;
}
.site-footer .navbar-brand {
  padding: 20px 0 0 30px;
  margin: 0;
}

.site-footer .global_footer_second .content {
  color: #595959;
  position: relative;
  overflow: hidden;
  width: 82%;
  float: right;
}

.site-footer .global_footer_second .content a {
  color: #595959;
  display: inline;
  padding: 0;
}
.site-footer .global_footer_second .content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  margin-left: -1px;
}

.site-footer .global_footer_second .content li {
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 1em;
  text-align: right;
  border-left: 1px solid #ccc;
  background-color: #fff;
}
