.site-footer {
  background-color: #fff;
  padding: 0;
}
.site-footer .block {
  margin: 0;
  padding: 0;
  text-align: right;
}
.site-footer .navbar-brand {
  padding: 20px 0 0 30px;
  margin: 0;
}
.site-footer .content {
  color: #595959;
  font-size: 0.857em;;
}
.site-footer .region-global-footer-second {
  display: block;
  float: right;
  margin: 15px 15px 15px 0;
}
.site-footer .region-global-footer-second  p {
  margin: 0;
}
.site-footer .region-global-footer-second a {
  color: #595959;
}
.site-footer .region-global-footer-second a:hover {
  color: #595959;
  text-decoration: underline;
}
.site-footer .footer-menu {
  display: flex;
}
.site-footer .footer-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: -1px;
}
.site-footer .nav > .nav-item,
.site-footer .nav > .nav-link {
  flex-basis: auto;
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: #fff;
}
.site-footer .nav {
  font-size: 1rem;
}
.site-footer .nav > .nav-item a,
.site-footer .nav > .nav-link a {
  font-size: 0.857em;
  color: #595959;
  padding-left: 1em;
}
.site-footer nav {
  justify-content: flex-end;
}
.site-footer a.language-link.session-active {
  display: none;
}
@media (min-width: 769px) {
  .site-footer .nav > .nav-item:not(:last-of-type) a:after,
  .site-footer .nav > .nav-link:not(:last-of-type) a:after {
    content: "|";
    padding: 0 0 0 1em;
  }
}
@media (max-width: 768px) {
  .region-global-footer-first {
    justify-content: center;
  }
  .site-footer .block {
    text-align: center;
  }
  .site-footer nav {
    justify-content: center;
  }
  .site-footer .nav > .nav-item, 
  .site-footer .nav > .nav-link {
    width: 100%;
    text-align: center;
  }
  .site-footer .nav > .nav-item a, 
  .site-footer .nav > .nav-link a {
    padding: 1em;
    display: block;
  }
  .site-footer .navbar-brand {
    padding: 0;
  }
  .site-footer .region-global-footer-second {
    margin: 20px 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .site-footer .block {
    padding-bottom: 10px;
  }
}
