/**
 * @file
 * Header Section Styles.
 */
.global-branding .navbar-brand {
  width: 302px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.region-global-search-top .form-control {
  width: 532px;
  height: 50px;
}
.region-global-search-top .form-submit {
  display: none;
}
.region-global-search-top .form-group {
  margin-bottom: 0;
}
.region-global-myaccount-top .image-style-thumbnail {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0;
}
@media (max-width: 768px) {
  .region-global-search-top .form-control {
    width: 380px;
  }
}
@media (max-width: 576px) {
  .region-global-search-top .form-control {
    max-width: 242px;
  }
  .global-search {
    width: 70%;
  }
  .global-notifications {
    width: 12%;
  }
  .global-myaccount {
    width: 12%;
  }
  .global-branding .navbar-brand {
    height: 49px;
  }
}
.region-global-search-top #views-exposed-form-pantheon-search-search-api-page fieldset.form-item-search label,
.region-global-search-top #views-exposed-form-pantheon-search-search-api-page #edit-bef-sort-options {
  display: none;
}
.employee-login-block p {
  margin: 0;
}
.employee-login-block a.btn-light {
  border: 1px solid #d8d8d8;
  background: #fff;
  color: #1073ea;
}
.employee-login-block a.btn-light:hover,
.employee-login-block a.btn-light:focus {
  background: #d8d8d8;
}

.region-global-myaccount-top {
  height: 60px;
  margin-bottom: -20px;
}
