/**
 * @file
 * Styles content within the highlighted region.
 */
.highlighted  .container {
  padding: 0;
  max-width: 100%;
}
.highlighted .alert-danger {
  margin-bottom: 0;
}
.highlighted img.image-style-hero-image-1440-x-600- {
  margin: 0;
  width: 100%;
  height: 100%;
}
.field--name-field-hr-hero-image {
  margin: 0;
}
.content-hero {
  display: block;
  position: absolute;
  top: 24%;
  left: 14%;
}
.content-hero .title-hero {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 62px;
  letter-spacing: -0.01em;
  color: #fff;
  width: 486px;
  padding-bottom: 12px;
}
.content-hero .desc-hero {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 1.31rem;
  line-height: 33px;
  color: #d8d8d8;
  width: 410px;
  padding-bottom: 34px;
}

@media (max-width: 768px) {
  .content-hero {
    top: 9%;
    left: 4%;
  }
  .content-hero .title-hero {
    font-size: 2.0rem;
    line-height: 2.0rem;
    width: 65%;
    padding-bottom: 25px;
  }
  .content-hero .desc-hero {
    font-size: 1.31rem;
    line-height: 1.31rem;
    width: 60%;
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .content-hero {
    top: 15%;
    left: 7%;
  }
  .content-hero .title-hero {
    line-height: 1.25rem;
    width: 75%;
    font-size: 1.25rem;
    padding-bottom: 15px;
  }
  .content-hero .desc-hero {
    display: none;
  }
}

@media (max-width: 1200px) {
  .content-hero {
    top: 9%;
    left: 6%;
  }
}
