.view-hr-home-page-profile-components .view-content.row,
.view-task-management .view-content.row {
  margin-left: 0;
  margin-right: 0;
}
#block-views-block-hr-home-page-profile-components-your-time-at-usps h2,
#block-views-block-hr-home-page-profile-components-my-apps-and-links h2,
.region-top-right-contents h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 131.23%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #333366;
}
#block-views-block-hr-home-page-profile-components-your-time-at-usps,
#block-views-block-hr-home-page-profile-components-my-apps-and-links,
.region-top-right-contents {
  margin-left: 15px;
  margin-right: 15px;
}
