.header #navbar-main {
  background-color: #333366 !important;
}

.main-menu-header  .main-menu-ul a.sf-depth-1.main-menu-a {
  color: #fff !important;
}

.main-menu-header  .main-menu-ul .main-menu-li .sf-depth-3 .main-menu-a {
  color: #1073ea;
}

.header #navbar-main li.sf-multicolumn-wrapper {
  background: #fff;
}

#block-covid19banner .alert-danger {
  text-align: center;
  color: #fff;
  background: #e71921;
  border: 0;
  border-radius: 0;
}

.user-menu-global {
  position: absolute;
  background: #fff;
  z-index: 1;
  top: 60px;
  right: 20px;
  width: 250px;
  border-radius: 5px;
  margin: 0 20px 0 0;
  display: none;
  padding: 20px;
}

.user-menu-global  li:nth-child(3) {
  border-bottom: 1px solid #ededed;
}

.user-menu-global  li:nth-child(3) a {
  margin-bottom: 10px;
}

.user-menu-global ul.sf-menu a {
  padding: 10px;
}

.user-menu-global-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155.09%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}

.user-menu-global  #account-userlogout {
  background: #1073ea;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  margin-top: 20px;
  width: 210px;
  height: 42px;
  line-height: 20px;
}

.user-menu-global  #account-userlogout a {
  color: #fff;
}

/* megamenu mobile */
.sf-has-clone-parent {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

ul.sf-menu ul {
  position: static;
}

.sf-has-clone-parent .sf-depth-3.sf-no-children:last-child {
  margin-bottom: 30px;
}

li.sf-depth-2.main-menu-il.menuparent {
  width: 50% !important;
}

.sub-menu-title {
  color: #333366;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Helvetica Neue;
  font-weight: bold;
  margin-bottom: 14px;
  padding-left: 15px !important;
}

.header #navbar-main li.sf-multicolumn-wrapper .sf-depth-3 {
  padding: 0 0 14px 30px;
}

.header #navbar-main li.sf-multicolumn-wrapper .sf-depth-3 a,
.sf-has-clone-parent .sf-depth-3 {
  color: #1073ea;
  font-size: 16px;
  font-family: Helvetica Neue;
}
.header #navbar-main li.sf-multicolumn-wrapper .sf-depth-3 a {
  padding: 0;
}

.sf-has-clone-parent .sf-depth-3 {
  padding: 0 15px 15px;
  font-size: 12px;
}

ul.sf-menu.sf-accordion.ssf-hidden,
.sf-accordion-toggle {
  display: none;
}

ul.sf-menu.sf-accordion.sf-expanded {
  display: block;
}

/* megamenu tablet */
@media (min-width: 768px) {
  .header #navbar-main li.sf-multicolumn-wrapper {
    width: 90vw !important;
    border-radius: 5px;
  }

  .header #navbar-main li.sf-multicolumn-wrapper ol {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
  }

  li.sf-depth-2.main-menu-il.menuparent {
    width: 100% !important;
    flex: 0 0 33%;
  }

  li.sf-depth-2.main-menu-il.menuparent .sf-multicolumn-column {
    width: 100% !important;
  }

  .header #navbar-main li.sf-multicolumn-wrapper .sf-depth-3 {
    padding: 0 1em 14px;
  }
}

/* megamenu desktop */
@media (min-width: 992px) {
  .sub-menu-title {
    padding-left: 30px !important;
  }

  .menuparent ul.sf-multicolumn {
    margin-top: 17px !important;
    max-width: 960px !important;
  }

  .header #navbar-main li.sf-multicolumn-wrapper ,
  .header #navbar-main li.sf-multicolumn-wrapper  > ol {
    max-width: 960px !important;
  }

  ul.sf-menu ul {
    position: absolute;
  }

  .sf-multicolumn-column {
    width: 100% !important;
  }

  .header #navbar-main li.sf-multicolumn-wrapper  > ol {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .header #navbar-main li.sf-multicolumn-wrapper  > ol .sf-depth-2 {
    flex: 0 0 33% !important;
  }

  .header #navbar-main li.sf-multicolumn-wrapper .sf-depth-3 {
    padding: 0 0 14px 30px;
  }
}
