/**
 * @file
 * Subtheme specific CSS.
 */
#page-wrapper {
  overflow: hidden;
}
.row-offcanvas {
  overflow: auto;
}
.main-content-wrapper {
  padding-bottom: 3em;
}
body:not(.page-user-login) #main-wrapper {
  background: #f3f3f3;
}

/**
 * Nav Tabs.
 */
.region-global-page-title nav.tabs .nav-link:not(.active) {
  color: #fff;
}
.region-global-page-title nav.tabs .nav-link {
  margin-right: .25em;
}
.region-global-page-title nav.tabs {
  margin: 15px 15px;
}
.region-global-page-title nav.tabs ul.nav {
  border-bottom: none;
}
.region-global-page-title nav.tabs .nav-link {
  border: 1px solid #fff;
}
#block-uspshrdemo-content .card {
  border: none;
  color: #595959;
}
#block-uspshrdemo-content .card h2 {
  color: #1073ea;
}

/**
 * Page Title: Blue Background.
 */
body:not(.path-frontpage) .region-global-page-title-wrapper {
  background: #3573b1;
  padding-top: 3em;
  color: #fff;
}
body:not(.node--type-page) .block-page-title-block h1 ,
body.transparent-background .block-page-title-block h1 {
  margin-bottom: 2em;
}

/**
 * Page Title: White Background / Centered.
 */
body.node--type-page:not(.transparent-background) .block-page-title-block > .content,
body.white-background .block-page-title-block > .content {
  background: #fff;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: auto;
}
body.node--type-page:not(.transparent-background) .block-page-title-block h1,
body.white-background .block-page-title-block h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #333366;
}
body.transparent-background .block-page-title-block h1,
body.node--type-hr-landing-page .block-page-title-block h1 {
  margin-bottom: 2.5em;
}

/**
 * Main Content: White Background / Centered.
 */
body.transparent-background #content.main-content,
body.node--type-hr-landing-page #content.main-content {
  margin-top: -3em;
}
body:not(.transparent-background):not(.page-user-login):not(.node--type-hr-landing-page) #block-uspshrdemo-content,
body.white-background #content article {
  background: #fff;
  padding: 15px 100px 50px;
}
body:not(.transparent-background):not(.page-user-login):not(.node--type-hr-landing-page) #block-uspshrdemo-content {
  padding: 30px;
  margin-top: -30px;
  border-radius: 4px;
}
