/**
 * @file
 * Subtheme specific CSS.
 */
#page-wrapper {
  overflow: hidden;
}
.row-offcanvas {
  overflow: auto;
}

body.node--type-page #main-wrapper,
body.node--type-hr-landing-page #main-wrapper,
body.node--type-landing-page-publicly-accessible #main-wrapper {
  background: #f3f3f3;
}
body:not(.path-frontpage) .region-global-page-title-wrapper {
  background: #3573b1;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #fff;
  min-height: 200px;
}
.region-global-page-title #block-uspshrdemo-page-title,
.region-global-page-title nav.tabs .nav-link:not(.active) {
  color: #fff;
}
.region-global-page-title nav.tabs .nav-link {
  margin-right: .25em;
}
.region-global-page-title nav.tabs {
  margin: 15px 15px 0;
}
.region-global-page-title nav.tabs ul.nav {
  border-bottom: none;
}
.region-global-page-title nav.tabs .nav-link {
  border: 1px solid #fff;
}
#block-uspshrdemo-content .card {
  border: none;
  color: #595959;
}
#block-uspshrdemo-content .card h2 {
  color: #1073ea;
}

/**
 * Node type: HR landing page.
 */
body.node--type-hr-landing-page:not(.path-frontpage) #block-uspshrdemo-content,
body.node--type-landing-page-publicly-accessible #block-uspshrdemo-content {
  margin-top: -3em;
}

/**
 * Node type: page.
 */
body.node--type-page {
  background: #fff;
  border-radius: 16px;
  padding-top: 40px;
}
body.node--type-page #block-pagetitle {
  text-align: center;
}
body.node--type-page #block-pagetitle h1 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.01em;
}
body.node--type-page .main-content {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 100px;
  margin-top: -100px;
  padding: 100px;
}
